@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,input,img,form,fieldset,legend{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight: normal;
}
ul,ol,li{
    list-style:none;
}

i,em{
    font-style:normal;
}
b,strong{
    font-weight:normal;
}
a,u{
    text-decoration:none;
}
img{
    border:0;
    display:block;
}
input{
    outline: none;
}
.clear_fix:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility: hidden;
}
